version: '3.9'

services:
  db:
    image: postgres:15
    restart: always
    environment:
      POSTGRES_USER: "konstantin"
      POSTGRES_PASSWORD: "konstantin2004"
      POSTGRES_DB: "Calorie-Tracker"
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data
      - ./backend/db/db-init.sql:/docker-entrypoint-initdb.d/db-init.sql
    healthcheck:
      test: [ "CMD-SHELL", "pg_isready -U konstantin -d Calorie-Tracker" ]
      interval: 5s
      timeout: 5s
      retries: 5
  backend:
    image: ghcr.io/konstantin-lozanovski/calorie-tracker:1.0
    restart: always
    env_file:
      - backend/.env
    depends_on:
      db:
        condition: service_healthy
    ports:
      - "4000:4000"

volumes:
  pgdata:
