.auth-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

.auth-container > form {
    display: flex;
    flex-direction: column;
    grid-area: 10px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.auth-container > form > input {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-top: 5px;
}

.auth-container > form > button {
    padding: 10px;
    background-color: blue;
    color: white;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 20px;
}

.link-redirect {
    text-align: center;
    margin-top: 10px;
    font-size: 12px;
}

.link-redirect a {
    color: #007bff;
    text-decoration: none;
}

.link-redirect a:hover {
    text-decoration: underline;
}
