.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #1f2937;
    height: 50px;
    padding-left: 50px;
    padding-right: 50px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    border-bottom: 1px #e5e7eb solid;
}

.header-links {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.header-link {
    text-decoration: none;
    color: white;
    background-color: #1f2937;
    padding: 5px;
    border-radius: 10px;
}

.header-brand a {
    text-decoration: none;
    color: white;
}

.header-name {
    color: white;
    text-decoration: none;
}

.header-name a {
    text-decoration: none;
    color: white;
}

.header-name a:hover {
    text-decoration: underline;
}

.header-user {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    align-items: center;
}

.header-logout-button {
    border-radius: 5px;
    padding: 10px;
    height: 20px;
    display: flex;
    align-items: center;
    border: none;
    color: white;
    background-color: #1f2937;
    cursor: pointer;
}
